<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom sticky-top">
        <div class="container-fluid container-xl">
            <a class="navbar-brand fw-bold fs-4" href="#">
                <i class="fas fa-clinic-medical me-2 custom-accent-color"></i>
                <span class="custom-primary-color">Eden</span> Health
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-dark mx-5 me-4" href="homepage.html">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-dark me-4" href="#">Chuyên khoa</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw-bold text-dark me-4" href="dsBacSi.html">Bác sĩ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link fw-bold text-dark me-4" href="vechungtoi.html">Về chúng tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold text-dark" href="lienhe.html">Liên hệ</a>
                    </li>
                </ul>

                <div class="d-flex ms-auto">
                    <a href="dangnhap.html" class="btn-login text-decoration-none"><i class="fas fa-sign-in-alt me-1"></i> Đăng
                        Nhập</a>
                </div>
            </div>
        </div>
    </nav>