<footer class="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="footer-brand">
                    <i class="fas fa-clinic-medical me-2"></i>Eden Health
                </div>
                <p class="footer-desc">
                    Hệ thống đặt lịch khám bệnh trực tuyến hàng đầu Việt Nam. 
                    Chúng tôi cam kết mang đến dịch vụ chăm sóc sức khỏe tốt nhất cho bạn và gia đình.
                </p>
                <div class="social-icons">
                    <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5>Liên kết</h5>
                <ul class="footer-links">
                    <li><a href="vechungtoi.html"><i class="fas fa-chevron-right"></i> Về chúng tôi</a></li>
                    <li><a href="danhsachchuyenkhoa.html"><i class="fas fa-chevron-right"></i> Chuyên khoa</a></li>
                    <li><a href="danhsachbacsi.html"><i class="fas fa-chevron-right"></i> Bác sĩ</a></li>
                    <li><a href="lienhe.html"><i class="fas fa-chevron-right"></i> Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Chính sách</h5>
                <ul class="footer-links">
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Chính sách hoạt động</a></li>
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Chính sách bảo mật</a></li>
                    <li><a href="#"><i class="fas fa-chevron-right"></i> Điều khoản sử dụng</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5>Liên hệ</h5>
                <div class="footer-contact">
                    <p><i class="fas fa-phone-alt"></i> Hotline: <strong>1900 0091</strong></p>
                    <p><i class="fas fa-envelope"></i> edenhealth@gmail.com</p>
                    <p><i class="fas fa-clock"></i> 07:00 - 17:00 (T2 - CN)</p>
                    <p><i class="fas fa-map-marker-alt"></i> TP. Cần Thơ, Việt Nam</p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2025 Eden Health. All rights reserved.</p>
        </div>
    </div>
</footer>

<button id="scrollTopBtn" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
    <i class="fas fa-chevron-up"></i>
</button>